*{
  font-size: calc(10px + 2vmin);
}
body {
  text-align: center;
  background-color: #272c37;
  color: white;
}
.App-header{
  text-align: center;
  color: #F4F4F4;
  margin-bottom: 2.3em;
}
.App-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}
.btn {
  margin: 1em;
  padding: .3em .7em;
  border-radius: 13px;
  background-color: #eef;
  color: #347;
  border: 1px solid #347;
  box-shadow: 3px 2px 5px rgba(230,230,230,0.75);
  font-size: .7em;
}
.btn:hover{
  background-color: #347;
  box-shadow: 1px 1px 5px rgba(100,170,230,0.75);
  color: #eef;
  border: 1px solid #eef;
  cursor: pointer;
}
.btn:focus{
  outline: none;
  box-shadow: -3px -1px 5px rgba(150,190,250,0.95);
}
.btnRed {
  padding: .3em .7em;
  border-radius: .7em;
  background-color: #e77;
  box-shadow: 3px 2px 5px rgba(170,70,70,0.75);
  color: #933;
  border: 1px solid #933;
  font-size: .7em;
}
.btnRed:hover{
  background-color: #c55;
  color: #e77;
  border: 1px solid #e77;
  box-shadow: 2px 2px 5px rgba(230,130,130,0.75);
  cursor: pointer;
}
.btnRed:focus{
  outline: none;
}
.btnNone{
  display: none;
}
.nuevoNodo{
  text-align: center;
  font-size: .9em;
  background-color: rgba(70,70,90,0.3);
  color: #ddf;
  margin: 1em;
  padding: 1em;
  border-top: 1px solid #579;
  box-shadow: 3px 2px 5px rgba(30,30,30,0.75);
  border-radius: 7px;
  width: 80%;
  min-width: 23em;
}
.titulo{
  display: block;
  margin-bottom: 1em;
  font-size: 1.3em;
}
input[type="text"]{
  display: inline-flex;
  margin: .3em;
  padding: .3em;
  text-align: center;
  font-size: .9em;
  border-radius: 3px;
  border: 1px solid #579;
  color: #345;
}
input[type="text"]:focus{
  border: 3px solid #79a;
  box-shadow: 3px 2px 5px rgba(170,190,230,0.75);
  margin: calc(.3em-3px);
}
.inpNodo{
  width: 45%;
  min-width: 15em;
  max-width: 35em;
}
.inpCon{
  width: 30%;
  min-width: 15em;
  max-width: 23em;
}
/* checkbox */
.check{
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkText{
  font-size: .7em;
}

/*Grafo  */
.grafo{
  margin: 1.3em;
  padding: 1em;
  width: 80%;
  height: 100%;
  border-top: 1px solid #579;
  box-shadow: 3px 2px 5px rgba(30,30,30,0.75);
  border-radius: 7px;
  background-color: rgba(70,70,90,0.3);
}
.res{
  margin: 1.3em;
  padding: 1em;
  width: 80%;
  height: 100%;
  border-top: 1px solid #579;
  box-shadow: 3px 2px 5px rgba(30,30,30,0.75);
  border-radius: 7px;
  background-color: rgba(70,70,90,0.3);
}
.error{
  border-top: 1px solid #933;
  box-shadow: 3px 2px 5px rgba(30,30,30,0.75);
  border-radius: 7px;
  margin: 1em;
  padding: .7em;
  background-color: rgba(170,70,90,0.7)
}
.ocultar{
  display: none;
}
table{
  display: inline-table;
  text-align: center;
  width: 100%;
}
.tablaCont{
  text-align: center;
  overflow-x: auto;
}
th{
  border: 1px solid #789;
  margin: .01em;
  padding: .3em;
  font-size: .7em;
}
td{
  border: 1px solid #345;
  padding: .3em;
}
.ptconex{
  display: inline-table;
  text-align: center;
  width: 100%;
}
.tconex{
  width: auto;
  font-size: .7em;
  padding: .3em!important;
  margin: 0!important;
}
main{
  margin: 0;
}
.name{
  margin: 0.3em 1em;
  display: inline-block;
}
.res{
  min-height: 3em;
}
.contRes{
  margin-top:1em;
}
.resFin{
  border-top: 1px solid #393;
  box-shadow: 3px 2px 5px rgba(30,130,30,0.75);
  border-radius: 7px;
  margin: 1em;
  padding: .7em;
  background-color: rgba(90,170,90,0.7)
}
.titRes{
  font-size: .79em;
  border-top: 1px solid #F4F4F4;
  color: #333;
  box-shadow: 3px 2px 5px rgba(130,130,130,0.75);
  border-radius: 7px;
  margin: 1em;
  padding: .7em;
  background-color: rgba(170,170,170,0.7)
}
.proRes{
  padding-top: .3em;
  line-height: 130%;
  font-size: .77em;
}
code {
  font-size: .9em;
  color: pink;
  display: inline-block;
}
